.deps/
.libs/
*.a
*.la
*.lo
*.o
*.log
*.trs
*.tmp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/setupbuild.cmd
/stage1.diff
/stage2.diff
/tags
/test-driver
/ylwrap
/include/*.h
/include/config.h.in
/include/stamp-h1
/src/test-detach
/src/base64-test
/src/getaddrinfo-test
/src/getifaddrs-test
/src/getxxyyy-test
/src/glob.h
/src/hex-test
/src/make-roken
/src/make-roken.c
/src/parse_bytes-test
/src/parse_reply-test
/src/parse_time-test
/src/resolve-test
/src/rkpty
/src/roken.h
/src/snprintf-test
/src/snprintf-test.trs
/src/strpftime-test
/src/test-readenv
/src/tsearch-test
/src/vis.h
/cf/libtool.m4
/cf/ltoptions.m4
/cf/ltsugar.m4
/cf/ltversion.m4
/cf/lt~obsolete.m4
